.dataset-card-header {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:26px;
  font-weight: 200;
  color: #000;
}

.dataset-card-header-orange {
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 2px 4px #333333;
  background-image: url("../../assets/images/back-blue.jpg");
  background-size:cover;
}

.dataset-card-header-blue {
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 2px 4px #333333;
  background-image: url("../../assets/images/back-orange.jpg");
  background-size:cover;
}

.dataset-card-header-green {
  font-weight: 500;
  color: #fff;
  text-shadow: 2px 2px 4px #333333;
  background-image: url("../../assets/images/back-green.jpg");
  background-size:cover;
}
